alembic==1.0.5
aniso8601==6.0.0
astroid==2.3.3
atomicwrites==1.2.1
attrs==18.2.0
autopep8==1.4.4
blinker==1.4
Click==7.0
coverage==4.5.4
et-xmlfile==1.0.1
Flask==1.0.2
Flask-DebugToolbar==0.10.1
Flask-JWT==0.3.2
Flask-Migrate==2.3.1
Flask-RESTful==0.3.7
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
gunicorn==19.9.0
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4
Jinja2==2.10
lazy-object-proxy==1.4.3
Mako==1.0.7
MarkupSafe==1.1.0
marshmallow==2.19.0
marshmallow-mongoengine==0.9.1
mccabe==0.6.1
mongoengine==0.16.3
more-itertools==5.0.0
openpyxl==2.6.1
pluggy==0.8.0
py==1.7.0
pycodestyle==2.5.0
PyJWT==1.4.2
pylint==2.4.4
pymongo==3.7.2
pytest==4.0.2
pytest-cov==2.7.1
python-dateutil==2.7.5
python-dotenv==0.10.0
python-editor==1.0.3
pytz==2018.9
selenium==3.141.0
six==1.12.0
SQLAlchemy==1.2.15
typed-ast==1.4.0
typing==3.6.6
urllib3==1.26.5
Werkzeug==0.15.3
wrapt==1.11.2
